{% load staticfiles %}  
    <!--HEADER -->
    <div class="header">
      <div class="for-sticky">
        <!--LOGO-->
        <div class="col-md-2 col-xs-6 logo">
          <a href="{% url 'posts:list' %}"><img alt="logo" class="logo-nav" src="{% static 'images/vegan.png' %}"></a>
        </div>
        <!--/.LOGO END-->
      </div>
      <div class="menu-wrap" id="menu">
        <nav class="menu">
          <div class="menu-list">
            <a  href="{% url 'posts:list' %}">
              <span>Главная</span>
            </a>
            <a class="exit" href="{% url 'posts:list' %}#about">
              <span>Об авторе</span>
            </a>
            <a  href="{% url 'posts:category' id=3 %}">
              <span>Веганство и сыроедение</span>
            </a><br>
            <a  href="{% url 'posts:category' id=1 %}">
              <span>Рецепты</span>
            </a>
            <a   href="{% url 'posts:category' id=2 %}">
              <span>Полезные советы</span>
            </a>
            <a class="exit" href="{% url 'posts:list' %}#blog">
              <span>Все статьи</span>
            </a>
            <a class="exit" href="{% url 'posts:list' %}#contact">
              <span>Контакты</span>
            </a>

          </div>
        </nav>
        <button class="close-button" id="close-button">Закрыть меню</button>
      </div>
      <button class="menu-button" id="open-button">
        <span></span>
        <span></span>
        <span></span>
      </button><!--/.for-sticky-->
    </div>
    <!--/.HEADER END сделано-->