{% extends "base.html" %}
{% load staticfiles %}
{% block content%}
<!--CONTENT WRAP-->
<div class="content-wrap">
      <!--CONTENT-->
    <div class="content">
        <!--HOME-->
<section class="grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <h1>Карта сайта:</h1>
                <ul>
                    <h3>Страницы:</h3>
                        <ul>
                           <li class="title-map"><a href="{% url 'posts:list' %}">Главная</a></li>
                           <li class="title-map"><a href="{% url 'posts:list' %}#about">Об авторе</a></li>
                           <li class="title-map"><a href="{% url 'posts:list' %}#contact">Контакты</a></li>
                        </ul>
                    <h3>Публикации:</h3>
                        <ul>
                           <li><a href="{% url 'posts:category' id=1 %}"><span class="public">Рецепты</span></a>
                               {% for item in queryset_list_1%}
                               <ul>
                                   {% if item.title %} 
                                   <li class="title-map"><a href="{{item.get_absolute_url}}">{{item.title}}</a></li>
                                   {% endif %}
                               </ul>
                               {% endfor %}
                           </li>
                           <li><a href="{% url 'posts:category' id=2 %}"><span class="public">Полезные советы</span></a>
                               {% for item in queryset_list_2%}
                               <ul>
                                   {% if item.title %} 
                                   <li class="title-map"><a href="{{item.get_absolute_url}}">{{item.title}}</a></li>
                                   {% endif %}
                               </ul>
                               {% endfor %}
                           </li>
                           <li><a href="{% url 'posts:category' id=3 %}"><span class="public">Веганство и сыроедение</span></a>
                               {% for item in queryset_list_3%}
                               <ul>
                                   {% if item.title %} 
                                   <li class="title-map"><a href="{{item.get_absolute_url}}">{{item.title}}</a></li>
                                   {% endif %}
                               </ul>
                               {% endfor %}
                            </li>
                        </ul>
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <div class="wrap-map-content">
                  <div class="map-content">
                    <h5>Помогите проекту развиться! Поделитесь в соц. сетях, ведь это бесплатно! А вам +1 в карму:)</h5>
                    <a href="https://www.facebook.com/sergey.denisenko.7"><img src="{% static 'images/fb.png' %}" width="28" height="28"></a> 
                    <a href="https://twitter.com/"><img src="{% static 'images/tw.png' %}" width="30" height="30"></a>
                    <a href="https://vk.com/public150133709"><img src="{% static 'images/vk.png' %}" width="30" height="30"></a>
                  </div>
                </div>
                <div class="w-content">
                      {% if admin_list %}
                        {% for item in admin_list %}
                      <img src="{{ item.foto.url }}" class="img-thumbnail"  width="140" height="140">
                        {% if item.user.get_full_name %}
                      <h3 class="name">{{item.user.get_full_name}}</h3>
                        {% endif %}
                      </h3>
                      <p class="head-about">
                        {{item.about}}
                      </p>
                        {% endfor %} 
                      {% endif %}
                    </div>
            </div>
        </div>   
    </div>
</section>
{% include "footer.html" %}
    </div>
</div>
{% endblock content %}