{% extends "base.html" %}
{% load staticfiles%}
{% block content%}
<!--CONTENT WRAP-->
    <div class="content-wrap">
      <!--CONTENT-->
      <div class="content">
        <!--HOME-->
        
        <section id="home">
          <div class="container">
            <div class="row">
              <div class="wrap-hero-content">
                  <div class="hero-content">
                    <h1>Привет!</h1>
                    <br>
                    <span class="typed"></span>
                  </div>
              </div>
              <div class="mouse-icon margin-20">
                <div class="scroll"></div>
              </div>
            </div>
          </div>
        </section>
        <!--/.HOME END-->

        <!--ABOUT-->
        <section id="about">
          <div class="col-md-4 col-xs-12 no-pad">
            <div class="bg-about"></div>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12 white-col">
            <div class="row">
                <div class="col-md-12">
                  <div class="wrap-about">
                    <div class="w-content">
                      {% if admin_list %}
                        {% for item in admin_list %}
                      <img src="{{ item.foto.url }}" class="img-thumbnail"  width="140" height="140">
                        {% if item.user.get_full_name %}
                      <h3 class="name">{{item.user.get_full_name}}</h3>
                        {% endif %}
                      </h3>
                      <p class="head-about">
                        {{item.about}}
                      </p>
                        {% endfor %} 
                      {% endif %}
                    </div>
                  </div>
                </div>              
              </div>
          </div>
        </section>
        <!--/.ABOUT END-->

          <!--BLOG-->

        <section class="grey-bg" id="blog">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3 class="title-small-center text-center">
                  <span>Последние статьи</span>
                </h3>
                <div class="row">
<form method="GET" action="">
<div class="col-md-4 search">
    <div class="input-group">
<input class="form-control" type="text" placeholder="Найти статью..." title="Поиск" name="q" value="{{ request.GET.q }}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</form>

                </div>
              <div class="col-md-12 content-right">
                <div class="row">
                  <ul class="listing-item">
                  {% for obj in object_list %}
                    <li>
                      <div class="col-md-4 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            {% if obj.image %} 
                            <img alt="blog-1" class="img-circle" width="133" height="133" src="{{obj.image.url}}">
                            {% endif %}
                      <p class="subtitle fancy">
                        <span>{{obj.publish}}</span>
                      </p>

                      <a href="{{obj.get_absolute_url}}">
                        <h2 class="title">
                          {{obj.title}}
                        </h2>
                      </a>
                            <div class="text-detail">
                              <p>
                                {{obj.content|linebreaks|truncatechars:120}}<a href="{{obj.get_absolute_url}}" class="green">Читать далее &rarr;</a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                 {% endfor %}
                  </ul>
                </div>
              </div>

              </div>
            </div>
          </div>
<!-- Pagination  -->
<div class="row">
<div class="col-md-3 col-md-offset-5">
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{page_request_var}}={{ object_list.previous_page_number }}{% if request.GET.q%}&q={{ request.GET.q}}{% endif %}" class="next">&larr; Назад</a>
        {% endif %}

        <span class="current">
            Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{page_request_var}}={{ object_list.next_page_number }}{% if request.GET.q%}&q={{ request.GET.q}}{% endif %}" class="next">Вперед &rarr;</a>
        {% endif %}
    </span>
</div>
</div>  
</div> 
        </section>
        <!--/.BLOG END-->

        <!--CONTACT-->
        <section id="contact" class="white-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h3 class="title-small">
                  <span>Контакты</span>
                </h3>
                <br>
                <p class="title-map">
                  Здесь вы можете оставить мне сообщение...
                </p>
                  <br>
                        <table class="w-content">
                          <tr>
                            <td class="title-map">Тел.:  </td>
                            <td class="break"> +38 (068) 235-13-73 </td>

                          </tr>
                          <tr>
                            <td class="title-map">Email: </td>
                            <td class="break"> denisenko.s.kr@gmail.com </td>
                          </tr>
                        </table>

              </div>
              <div class="col-md-4 col-md-offset-2 content-right">
                <form method="post" action="">{% csrf_token%}
                  <div class="group">
                    <input required="" name="name" type="text"><span class="highlight"></span><span class="bar"></span><label>Имя</label>
                  </div>
                  <div class="group">
                    <input required="" name="email" type="email"><span class="highlight"></span><span class="bar"></span><label>Email</label>
                  </div>
                  <div class="group">
                    <textarea required="" name="message" value=""></textarea><span class="highlight"></span><span class="bar"></span><label>Сообщение</label>
                  </div>
                  <input id="sendMessage"  type="submit" value="Отправить сообщение">
                </form>
              </div>
            </div>
          </div>
        </section>
        <!--/.CONTACT END-->

{% include "footer.html" %}
      <!--/.CONTENT END-->
      </div>
    <!--/.CONTENT-WRAP END-->
    </div>
{% endblock content%}