{% extends "base.html" %}
{% block content%}
    <section>
        <div class="post-container">
        {% for obj in object_list %}
            <div class="post">
                <article>
                    {% if obj.image %}
                    <div class="image">
                        <a href="{% url 'posts:list' %}"><img src="{{obj.image.url}}" width="1400" height="700"></a>
                    </div>
                    {% endif %}
                    <div class="post-header">
                        <h2 class="post-title"><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h2>
                        <div  class="post-publish">
                            <span class="post-date">{{obj.publish}}</span>
                        {% if obj.user.get_full_name %}<p>Автор: {{obj.user.get_full_name}}</p>{% endif %}
                        </div>
                    </div>
                    <div class="post-content">
                        <a href="{{obj.get_absolute_url}}"><p>{{obj.content|linebreaks|truncatechars:120}}</p></a>
                    </div>
                </article>
            </div>
        {% endfor%}
        </div>
    </section>
<!-- Pagination  -->
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{page_request_var}}={{ object_list.previous_page_number }}{% if request.GET.q%}&q={{ request.GET.q}}{% endif %}" class="next">&larr;</a>
        {% endif %}

        <span class="current">
            Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{page_request_var}}={{ object_list.next_page_number }}{% if request.GET.q%}&q={{ request.GET.q}}{% endif %}" class="next">&rarr;</a>
        {% endif %}
    </span>
</div>   
{% endblock content%}